@import "tailwindcss";

:root {
    --background: #3b4252;
    --foreground: #ffffff;
    --navColor: #2e3440;
    --stampRed: #bf616a;
    --stampGreen: #a3be8c;
    --stampYellow: #ebcb8b;
    --stampBlue: #81a1c1;
    --stampPurple: #b48ead;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-navColor: var(--navColor);
    --color-stampRed: var(--stampRed);
    --color-stampGreen: var(--stampGreen);
    --color-stampYellow: var(--stampYellow);
    --color-stampBlue: var(--stampBlue);
    --color-stampPurple: var(--stampPurple);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #3b4252;
        --foreground: #ffffff;
        --navColor: #2e3440;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 35px;
    height: 35px;
}
.icon-small {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.small-calendar {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    opacity: 0.5;
}
